:root {
    --bg: #05070a;
    --panel: #0f172a;
    --accent: #38bdf8;
    --success: #22c55e;
    --text: #f1f5f9;
    --border: #1e293b;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', system-ui, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* SIDEBARS */
.sidebar-left, .sidebar-right {
    width: 300px;
    background-color: var(--panel);
    border: 1px solid var(--border);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.avatar-box {
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.badge {
    background: var(--success);
    color: #000;
    font-weight: bold;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 4px;
}

/* CENTER STAGE */
.center-stage {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.ana-comms {
    background: rgba(56, 189, 248, 0.05);
    border-left: 4px solid var(--accent);
    padding: 20px;
    display: flex;
    gap: 20px;
}

/* TERMINAL */
.code-terminal {
    background: #000;
    border: 1px solid var(--border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.terminal-bar {
    background: #1e293b;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
}

#sqlEditor {
    background: transparent;
    color: #a6e22e;
    font-family: 'Consolas', monospace;
    font-size: 18px;
    padding: 20px;
    height: 180px;
    border: none;
    outline: none;
}

.btn-run {
    background: var(--success);
    border: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

/* TABLAS */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th { background: #1e293b; color: var(--accent); padding: 10px; text-align: left;}
.table-container td { padding: 10px; border-bottom: 1px solid var(--border);}
